<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/DigiDisplay" version="1.0.0" viewmodes="maximized">
   <name>DigiDisplay</name>
   <icon src="icon.png"></icon>
   <content src="index.html"></content>
   <feature name="http://tizen.org/feature/screen.size.all"></feature>
   <feature name="http://tizen.org/feature/network.telephony"></feature>
   <feature name="http://tizen.org/feature/network.wifi"></feature>
   <tizen:privilege name="http://tizen.org/privilege/internet"></tizen:privilege>
   <tizen:privilege name="http://tizen.org/privilege/mediacapture"></tizen:privilege>
   <tizen:privilege name="http://tizen.org/privilege/mediastorage"></tizen:privilege>
   <tizen:privilege name="http://tizen.org/privilege/externalstorage"></tizen:privilege>
   <tizen:privilege name="http://tizen.org/privilege/display"></tizen:privilege>
   <tizen:privilege name="http://tizen.org/privilege/tv"></tizen:privilege>
   <tizen:application id="PQqmxLaXEm.DigiDisplay" package="PQqmxLaXEm" required_version="7.0"></tizen:application>
   <tizen:profile name="tizen"></tizen:profile>
</widget>